<form id="form-search-job" action="">
    <h2 class="fw-bold fs-6 color-main-topcv">Khám phá ngay 30.000+ việc làm tốt nhất trên TopCV
    </h2>
    <div class="row">
        <div class="col-12 col-lg-10">
            <div class="row g-0">
                <div class="col-12 col-md-6 mb-3 form-group input-data position-relative">
                    <input class="input-search form-control hidden-outline " type="text"
                        placeholder="Tên công việc, vị trí bạn muốn ứng tuyển...">
                </div>
                <div class="col-3 d-none d-md-block mb-3 form-group input-data position-relative">
                    <select class="input-select2 form-control form-select px-5" id="city"
                        aria-hidden="true" aria-label="Default select example">
                        <option selected value="">Tất cả địa điểm</option>
                        <option value="1">Hà Nội</option>
                        <option value="2">Hồ Chí Minh</option>
                        <option value="3">Bình Dương</option>
                        <option value="4">Bắc Ninh</option>
                        <option ue="5">Đồng Nai</option>
                        <option value="6">Hưng Yên</option>
                        <option value="7">Hải Dương</option>
                        <option value="8">Đà Nẵng</option>
                        <option value="9">Hải Phòng</option>
                    </select>
                </div>
                <div class="col-3 d-none d-md-block mb-3 form-group">
                    <select class="input-select2 form-control form-select px-5" id="category"
                        aria-hidden="true">
                        <option selected value="">Tất cả ngành nghề</option>
                        <option value="10101">An toàn lao động</option>
                        <option value="10102">Bán hàng kỹ thuật</option>
                        <option value="10103">Bán lẻ / bán sỉ</option>
                        <option value="10004">Báo chí / Truyền hình</option>
                        <option ue="10006">Bảo hiểm</option>
                        <option value="10104">Bảo trì / Sữa chữa</option>
                        <option value="10007">Bất động sản</option>
                        <option value="10003">Biên / Phiên dịch</option>
                        <option value="10005">Bưu chính - Viễn thông</option>
                        <option value="10008">Chứng khoán / Vàng / Ngoại tệ</option>
                        <option value="10010">Cơ khí / Chế tạo / Tự động hóa</option>
                        <option value="10009">Công nghệ cao</option>
                        <option value="10052">Công nghệ Ô tô</option>
                        <option value="10131">Công nghệ thông tin</option>
                    </select>
                </div>
            </div>
        </div>
        <div class=" col-12 col-lg-2">
            <button class="input-select2 btn btn-main-topcv w-full d-block text-uppercase">
                Tìm việc ngay
            </button>
        </div>
    </div>    

</form>