/* css sub-nav */
#sub-nav{
    border-top:1px solid #e2e8f0;
}

#sub-nav .navbar{
    padding:2px 0px !important;

}
#sub-nav div a{
    font-size: 14px;
    color:#666666;
    padding:20px 12px 15px !important;
    border-bottom:1px solid transparent;
    height: 60px;
    display: inline-flex;
    align-items:center;
}

#sub-nav div a:hover{
    border-color:#666666;
}
/*   end  */