<div id="sub-nav">
    <nav class="navbar navbar-light flex-wrap justify-content-center">
        <div class="container">
                <div class="nav align-items-center">
                        <a class="nav-link active" style="color:#00b14f;border-bottom:1px solid #00b14f;" aria-current="page" href="#">Tìm việc làm</a>
                        <a class="nav-link active d-flex align-items-center" aria-current="page" href="#">
                            Việc làm Remote
                            <span style="color: #c0392b;border: solid 1px;border-radius: 5px;font-size: 11px; padding:1px 5px;font-weight: bold;margin-right:3px;display:inline-block;margin-bottom:0;margin-left:4px;line-height: 14px">
                                <i class="fas fa-wifi"></i>
                            </span>
                        </a>
                        <a class="nav-link active" aria-current="page" href="#">Việc làm top công ty</a>
                        <a class="nav-link active" aria-current="page" href="#">Việc làm phù hợp</a>
                        <a class="nav-link active" aria-current="page" href="#">Việc làm đã lưu</a>
                        <a class="nav-link active" aria-current="page" href="#">Việc làm đã ứng tuyển</a>
                        <a class="nav-link active" aria-current="page" href="#">Cài đặt gợi ý việc làm</a>
                </div>
        </div>
    </nav>
</div>