<div class="item-job p-1 my-1 bg-white">
    <div class="row g-0">
        <div class="col-3">
            <a class="" href="">
                <div class="item-job__logo-company">
                    <img src="https://static.topcv.vn/company_logos/19b2acae30675e749ab0bddee2dab43a-607001f1999a3.jpg"
                        alt="" class="img-fluid">
                </div>
            </a>
        </div>
        <div class="col-9">
            <div class="item-job__name-job text-ellipsis mb-1">
                <a href="#" target="_blank">
                    <span>
                        <strong class="fw-bold">HR & Admin Manager
                            (1200$-2000$)</strong>
                    </span>
                </a>
            </div>
            <div class="item-job__name-company text-ellipsis mb-1">
                <a href="">
                    <span class="">
                        CÔNG TY TNHH MIDWAY METALS VIỆT NAM
                    </span>
                </a>
            </div>
            <div class="item-job__info text-ellipsis">
                <div class="row g-0">
                    <div class="col-6">
                        <span><i
                                class="fas fa-dollar-sign color-main-topcv"></i></span>
                        25-30 triệu
                    </div>
                    <div class="col-6">
                        <span><i
                                class="fa fa-map-marker color-main-topcv"></i></span>
                        Hà Nội
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>