<footer>
    <div class="footer__top">
        <div class="container">
            <div class="row flex-wrap-reverse">
                <div class="col-12 col-md-7 ">
                    <div class="footer__top-left bg-white">
                        <div class="row">
                            <div class="col-6 col-lg-4">
                                <div class="footer__top-group-label position-relative fw-bold">
                                    Ứng Viên
                                </div>
                                <ul class="footer__top-list">
                                    <li><a href="" target="_blank">Tìm việc làm</a></li>
                                    <li><a href="" target="_blank">Khóa học</a></li>
                                    <li><a href="" title="Trắc nghiệm tính cách MBTI">Trắc nghiệm MBTI</a></li>
                                    <li><a href="" target="_blank">Hướng dẫn viết CV</a></li>
                                    <li><a href="">Tư vấn sửa CV</a></li>
                                    <li><a href="">Thiết kế CV</a></li>
                                    <li><a href="">Dịch CV</a></li>
                                    <li><a target="_blank" href="">Bài viết tham khảo</a></li>
                                </ul>

                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="footer__top-group-label position-relative fw-bold">
                                    Đối Tác
                                </div>
                                <ul class="footer__top-list">
                                    <li><a target="_blank" href="">Doanh nghiệp</a></li>
                                    <li><a href="">Trường đại học</a></li>
                                    <li><a href="">Các CLB, đoàn thể</a></li>
                                    <li><a href="" target="_blank">Edu2Review</a></li>
                                    <li><a href="" target="_blank">Gitiho</a></li>
                                    <li><a href="" target="_blank"
                                            title="Thông tin khuyến mãi, giảm giá, sale, ưu đãi, coupon, voucher... về ăn uống, thời trang, mỹ phẩm, làm đẹp năm 2018 trên toàn quốc - JAMJA">JAMJA.vn</a>
                                    </li>
                                    <li><a href="" target="_blank" title="Mogi.vn bất động sản">Mogi.vn</a></li>
                                    <li><a href="" target="_blank" title="Homedy Mua bán nhà đất"
                                            rel="dofollow">Homedy.com</a></li>
                                    <li><a href="" target="_blank"
                                            title=" Printgo – Nền tảng thiết kế và in ấn trực tuyến số 1 Việt Nam ">
                                            Printgo.vn </a></li>
                                    <li><a href="" target="_blank">ViecNgay.vn</a></li>
                                    <li><a href="" target="_blank">TopHR.vn</a></li>
                                </ul>

                            </div>
                            <div class="col-6 col-lg-4">
                                <div class="footer__top-group-label position-relative fw-bold">
                                    Kết Nối
                                </div>
                                <ul class="footer__top-list">
                                    <li class="social-icons mb-3">
                                        <a href="" target="_blank"><span class="fab fa-facebook"></span></a>
                                        <a href=""><span class="fab fa-twitter"></span></a>
                                        <a href="" target="_blank"><span class="fab fa-linkedin"></span></a>
                                        <a href=""><span class="fab fa-youtube"></span></a>
                                    </li>
                                    <li>
                                        <a href="" target="_blank"><img src="https://www.topcv.vn/images/bct.jpg"
                                            style="max-height: 56px; margin-left: -10px;">
                                        </a>
                                    </li>
                                    <li>
                                        <a target="_blank" href="" title="DMCA.com Protection Status"
                                            class="dmca-badge" style="max-height: 56px; text-align: center">
                                            <!-- <img src="" alt="DMCA.com Protection Status"> -->
                                        </a>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5">
                    <div class="footer__top-right bg-white">
                        <div class="row">
                            <div class="col-12 pb-4">
                                <div class="box-brand d-flex align-items-center mb-4">
                                    <a href=""><img class="d-inline-block" src="https://www.topcv.vn/v3/images/topcv-logo-4.png"  alt=""></a>
                                    <a href=""><img class="d-inline-block" src="https://www.topcv.vn/images/banner/logo-google-for-startup.png" alt=""></a>
                                </div>
                                <h5 class="d-inline-block mt-3">Ứng Dụng TOPCV <span class="fw-bold bg-danger">Mới</span></h5>
                                <div class="box-app-download d-flex align-items-center mt-3">
                                    <a href=""><img src="https://www.topcv.vn/v3/images/new/app-store-badge.png" alt=""></a>
                                    <a href=""><img src="https://www.topcv.vn/v3/images/new/google-play-badge.png" alt=""></a>
                                </div>
                            </div>
                            <div class="col-6">
                                <ul class="footer__top-list">
                                    <li><a href="" target="_blank">Giới Thiệu</a></li>
                                    <li><a href="" target="_blank">Góc Báo Chí</a></li>
                                    <li><a href="" title="Trắc nghiệm tính cách MBTI">Tuyển Dụng</a></li>
                                    <li><a href="" target="_blank">Liên Hệ</a></li>
                                    <li><a href="" target="_blank">Hợp Tác</a></li>
                                </ul>
                            </div>
                            <div class="col-6">
                                <ul class="footer__top-list">
                                    <li><a href="" target="_blank">Chính Sách Bảo Mật</a></li>
                                    <li><a href="" target="_blank">Điều Khoản Dịch Vụ</a></li>
                                    <li><a href="" title="Trắc nghiệm tính cách MBTI">Quy Chế Hoạt Động</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="footer__key-words bg-sub-primary">
        <div class="container">
            <ul class="list-key-words py-3 d-flex flex-wrap">
                <li><a href="">cv là gì</a></li>
                <li><a href="">mẫu cv tiếng anh</a></li>
                <li><a href="">mẫu cv tiếng việt</a></li>
                <li><a href="">tải mẫu sơ yếu lý lịch chuẩn miễn phí</a></li>
                <li><a href="">tổng hợp cv tham khảo các nhóm ngành</a></li>
                <li><a href="">tổng hợp cv tham khảo cho lập trình viên</a></li>
                <li><a href="">giấy tờ thủ tục hồ sơ xin việc</a></li>
                <li><a href="">email bằng tiếng anh</a></li>
                <li><a href="">mẫu đơn xin việc các nhóm ngành</a></li>
                <li><a href="">mẫu đơn xin nghỉ việc</a></li>
                <li><a href="">mẫu đơn xin nghỉ phép</a></li>
                <li><a href="">cách viết cv chuẩn</a></li>
                <li><a href="">cách viết cv tiếng hàn</a></li>
                <li><a href="">cách viết CV ngành kinh doanh, bán hàng</a></li>
                <li><a href="">cách viết CV ngành kế toán, kiểm toán</a></li>
                <li><a href="">cách viết Cv ngành nhân sự</a></li>
                <li><a href="">cách viết Cv xin học bổng</a></li>
                <li><a href="">cách viết Cv tiếng nhật</a></li>
                <li><a href="">Xin việc ngành công nghệ thông tin</a></li>
                <li><a href="">Cẩm nang xin việc ngành luật</a></li>
                <li><a href="">Ngành du lịch làm những công việc gì</a></li>
                <li><a href="">Mẫu đơn xin thực tập</a></li>
                <li><a href="">Hướng dẫn sửa lỗi gõ tiếng việt</a></li>
            </ul>

        </div>
    </div>
    <div class="footer__bottom pt-3 pb-1 bg-sub-primary">
        <div class="container">
            <div class="row">
                    <div class="col-12 col-lg-6">
                        © 2014 - 2021 Bản quyền thuộc về CTCP TopCV Việt Nam
                    </div>
                    <div class="col-12 col-lg-6">
                            Trụ sở HN: Tầng 03, Tòa nhà Goldseason, 47 Nguyễn Tuân, Thanh Xuân, Hà Nội 
                        <br>
                            TP HCM: Tòa nhà cao ốc Nam Giao 1, số 261 - 263 Phan Xích Long, Phường 2, Quận Phú Nhuận, TP Hồ Chí Minh
                    </div>
            </div>

        </div>

    </div>
</footer>