<header id="header" class="bg-main-secondary">
    <nav class="navbar navbar-expand-md navbar-light pt-4 pb-4 flex-wrap justify-content-center">
        <div class="container">
            <a class="navbar-brand me-5" href="#">
                <img src="../../assets/images/image__home/topcv-logo-4.webp" width="120" class="img-fluid"
                    alt="">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="nav navbar-nav navbar-right align-items-center ">
                    <li class="nav-item ">
                        <a class="nav-link" aria-current="page" href="#">Về TopCV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Mẫu CV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Mẫu Cover Letter</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Việc làm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Khám phá</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Công ty</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Tư vấn</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="#">Đăng nhập</a>
                    </li>
                    <li class="nav-item btn-support bg-main-topcv">
                        <a class="text-decoration-none d-inline-block" href="" target="_blank">
                            <p class="fw-bold text-uppercase">NHÀ TUYỂN DỤNG</p>
                            <p class="fw-lighter">Đăng tuyển &amp; Tìm hồ sơ</p>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>

</header>